/*
 * Copyright 2024 efekos
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the “Software”), to deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
 * persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    cursor: default;
}

.modal-content {
    background-color: %%colorTheme.projects.galleryModalBackgroundColor%%;
    display: block;
    margin: 4rem;
    border-radius: 1rem;
}

.modal-header {
    background-color: %%colorTheme.projects.galleryModalHeaderBackgroundColor%%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
}


.modal-footer {
    background-color: %%colorTheme.projects.galleryModalFooterBackgroundColor%%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 1rem;
}

.modal-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.close {
    float: right;
    margin: 1rem;
    cursor: pointer;
}

.gallery-image > img {
    cursor: pointer;
    max-width: 15rem;
    border: 0.25rem solid %%colorTheme.projects.galleryImageBorderColor%%;
    border-radius: 1rem;
    background-color: %%colorTheme.projects.galleryImageBackgroundColor%%;
}

.gallery-image {
    display: inline-block;
}