<li>
    <div class="entry">
        <div>
            <img src="./images/icon/university.svg" alt="School" width="25" class="icon" />
        </div>
        <div>
            <span class="title">%%pname%%</span>
        </div>
        <div>
            <img src="./images/icon/university.svg" width="20" class="type-text"/><span class="alt">%%ptype%%</span><br>
            <img src="./images/icon/location.svg" width="20" class="type-text"/><span class="alt">%%plocation%%</span><br>
            <img src="./images/icon/clock.svg" width="20" class="type-text"/><span class="alt">%%pstart%% - %%pend%%</span>
        </div>
    </div>
</li>\