<li>
    <div class="entry">
        <div>
            <img src="./images/icon/briefcase.svg" alt="Briefcase" width="25" class="icon" />
        </div>
        <div>
            <span class="title">%%pcompany%%</span>
        </div>
        <div>
            <img src="./images/icon/briefcase.svg" width="20" class="type-text"/><span class="alt">%%ppos%%</span><br>
            <img src="./images/icon/clock.svg" width="20" class="type-text"/><span class="alt">%%pstart%% - %%pend%%</span>
        </div>
    </div>
</li>