<!--
  ~ Copyright 2024 efekos
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the “Software”), to deal in the Software without restriction, including without limitation the
  ~ rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
  ~ persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
  ~ WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  ~ COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
  ~ OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<a href="./projects/%%prid%%/index.html">
    <div class="entry">
        <div>
            <img src="./images/projects/%%prid%%/icon.png" width="72" class="icon">
        </div>
        <div>
            <span class="title" style="color: white;">%%prname%%</span><br>
            <span class="alt">%%prsummary%%</span>
        </div>
        <div>
            <img src="./images/icon/scale.svg" width="20" class="type-text" /><span class="alt">%%prlicense%%</span><br>
            <img src="./images/icon/tag.svg" width="20" class="type-text" /><span class="alt">%%prversion%%</span><br>
            <img src="./images/icon/clock.svg" width="20" class="type-text" /><span class="alt">%%prcreatedate%%</span><br>
        </div>
        <div>
            %%tags%%
        </div>
    </div>
</a>