body {
    background-color: #03080E;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    font-size: 1.5rem;
}

h1#name {
    font-family: Fredoka,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4C9EFF;
    font-size: 5rem;
    text-align: center;
    filter: drop-shadow(0rem 0rem 4rem #4C9EFF);
    will-change: filter;
    transition: filter 200ms;
    user-select: none;
    margin-bottom: 1rem;
}

h1#name:hover {
    filter: drop-shadow(0rem 0rem 2rem #4C9EFF);
}

h2#title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}