* {
    color: white;
    font-family: "Fredoka Semibold","Segoe UI",Calibri,Helvetica,Arial,sans-serif;
}

p {
    border-top: 0.1rem;
    border-bottom: 0.1rem;
    border-color: white;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

body {
    background-color: #151515;
}